server:
  port: 9000
  error:
    include-exception: true     # 응답에 exception의 내용을 포함할지 여부
    #    include-stacktrace: always  # 응답에 stacktrace 내용을 포함할 지 여부
    path: '/error'               # 응답을 처리할 Handler의 경로
    whitelabel:
      enabled: true             # 서버 오류 발생시 브라우저에 보여줄 기본 페이지 생성 여부
    include-message: always

spring:

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher

  jpa:
    database: mysql
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: true
        globally_quoted_identifiers: true

logging:
  level:
    jwt.kakao: DEBUG

jwt:
  secret: ${DOPAMINE_JWT_SECRET}
  kakao:
    client_id: ${DOPAMINE_KAKAO_CLIENT_ID}
    redirect_url: ${DOPAMINE_KAKAO_REDIRECT_URL}
