<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<!--    css 추가     -->
<th:block layout:fragment="css">
</th:block>

<!--    script 추가     -->
<th:block layout:fragment="script">
</th:block>

<!-- Content -->
<div layout:fragment="content">

  <!--  피드 목록  -->
  <div style="text-align: center; margin: auto; width: 90%">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>피드 아이디</th>
        <th>내용</th>
        <th>대표이미지</th>
        <th>서브이미지1</th>
        <th>서브이미지2</th>
        <th>작성자(id)</th>
        <th>챌린지 제목</th>
        <th>챌린지 상태 변경</th>
        <th>피드 삭제(강제 삭제)</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="feed : ${feeds}">
        <td th:text="${feed.feedId}"></td>
        <td th:text="${feed.content}"></td>
        <td><a href="#" th:href="${feed.image1Url}"><img th:src="${feed.image1Url}" style="height: 70px"/></a></td>
        <td><a href="#" th:href="${feed.image2Url}"><img th:src="${feed.image2Url}" style="height: 70px"/></a></td>
        <td><a href="#" th:href="${feed.image3Url}"><img th:src="${feed.image3Url}" style="height: 70px"/></a></td>
        <td th:text="${feed.member.getNickname()} + '(' + ${feed.member.getMemberId()} +')'"></td>
        <td th:text="${feed.challenge.getTitle()} + '(' + ${feed.challenge.getChallengeId()} +')'"></td>
        <td th:if="${feed.fulfillYn}">
          달성 | <a href="#" th:href="@{/backoffice/feed/{feedId}/fullfill (feedId=${feed.feedId})}">미달성으로 변경</a>
        </td>
        <td th:unless="${feed.fulfillYn}">
          미달성 | <a href="#" th:href="@{/backoffice/feed/{feedId}/fullfill (feedId=${feed.feedId})}">달성으로 변경</a>
        </td>
        <td>
          <a href="#" th:href="@{/backoffice/feed/{feedId}/delete (feedId=${feed.feedId})}">삭제</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>

</html>